body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  place-items: center center;
  
}

.card{
  width: 60%;
  height: 80%;
  background-color: rgb(205, 241, 241);
  border: 2px solid plum;
}

/* 카드 누르면 카드 사라지게 하기 == 바디 누르면 안사라짐*/
.card.hide{
  visibility: hidden;

}