.box{
  width: 100px;
  height: 100px;
  background-color: rgb(198, 163, 231);
  border: 1px solid black;
}

#target{
  
  /* ?초에 걸려서 이동 */
  /* transition: 2s;

  /* 적용대상 */
  /* transition-property: all; */

  /* 몇초에 걸쳐서 움직일지 */
  /* transition-duration: 2s; */

  /* 마우스 올리고 어느정도 있다가 움직일지 */
  /* transition-delay: 1s; */


  /* transition-timing-function: cubic-bezier(); */ 

  animation-name: hello2;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;

}

#target:hover{
  animation-play-state: paused;
}

@keyframes hello {
  0% {
    background-color: rgb(226, 233, 175);
    width: 300px;
    height: 300px;
  }
  50% {
    background-color: rgb(141, 175, 238);
    width: 100px;
    height: 100px;
  }
  100% {
    background-color: rgb(229, 189, 235);
    width: 200px;
    height: 200px;
  }
}

#ttt{
  animation-name: abc2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#ttt:hover{
  animation-play-state: paused;
}

@keyframes abc {
  0%{

  }
  100%{
    transform:  rotateZ(360deg) ;
  }
}

.btn-jelly:hover{
  background-color: rgb(205, 199, 128);
  border-radius: 10px;
  border-width: 0px;

  animation-name: jelly;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;

}

@keyframes jelly{
  0%{
    background-color: rgb(156, 219, 156);
    transform: scale(0.8, 1.2);
  }
  50%{
    background-color: rgb(77, 140, 77);
    transform: scale(1.2, 0.9);
  }
  100%{
    background-color: rgb(13, 66, 13);
    transform: scale(0.5, 1.3);

  }
}

#back-v:hover{
  transform: rotateX(180deg);
  backface-visibility: hidden;
}

#card{
  width: 80px;
  height: 100px;
  border: 5px solid black;
  box-sizing: content-box;
  margin: 50px;
  position: relative;
}

#card > div{
  width: 100%;
  height: 100%;
  position: absolute;

}

#card:hover > div{
  transform: rotateX(180deg);
}

#front{
  color: white;
  background-color: red;
  backface-visibility: hidden;
}

#back{
  color: white;
  background-color: blue;
  z-index: -1;
  /* transform: rotateX(180deg);
  backface-visibility: hidden; */
}